{% extends 'base.html' %}

{% block title %} Home
{% endblock title %}


{% block content %}
<div class="jumbotron">

            {% if user.is_authenticated %}
            
            <h1 class="display-4">Hi {{ user.username}}!</h1>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">NewsFeed</a>
            {% endif %}
</div>



{% endblock content %}