#Logo{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item:hover{
    background: grey;
}
form{
    padding-right: 100px;
 }
body,html{
    height: 100%;
}
.img-container{
    background-image: url(../images/desk-3139127_1920.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
    color: white;
    background: black;
}
.inner-container-1{
    padding-top: 200px;
}
.form-container{
    background: #292b2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px,opx,10px,0px, #000;
}
.log-in{
    
    padding-top: 150px;
}
#form-text{
    color: #ffffff;
}
h2{
    background: white;
    align-content: center;
}

footer{
    background: #292b2c;
}
.footer-copyright{
    color: #ffffff;
}
.mb-1{
    color: #ffffff;
}
.left-side-bar{
    background: #2F363E;
    height: 700px;
}
.right-side-bar{
    background: #4D5A69;
    height: 700px;
}

h3{
    background-color: white;
    padding-top: 5px;
}
a{
    color: white;
}
h5{
    color: #fff;
}
img{
    margin-top: 30px;
    margin-left: 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
h4{
    margin-left: 20px;
    color: white;
}