#Logo{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item:hover{
    background: grey;
}
form{
    padding-right: 100px;
 }
body,html{
    height: 100%;
}
.img-container{
    background-image: url(../images/desk-3139127_1920.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
    color: white;
    background: black;
}
.inner-container-1{
    padding-top: 200px;
}
.form-container{
    background: #292b2c;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px,opx,10px,0px, #000;
}
.log-in{
    
    padding-top: 150px;
}
#form-text{
    color: #ffffff;
}
h2{
    background: white;
    align-content: center;
}