.Logo{
    width: 70px;
    height: 70px;
    padding: 10px;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
}
.nav-item:hover{
    background: grey;
}
.img-container{
    background-image: url(../images/landscape_blue_tree_black_92069_1280x720.jpg);
    height: 100%;
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

footer{
    background: #292b2c;
}
.footer-copyright{
    color: #ffffff;
}
.mb-1{
    color: #ffffff;
}
img{
    border-radius: 999em;
    /* border-radius: 50%; */
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-top: 10px;
}
.page-footer{
    margin-top: 1000px;
}
#Intro{
    background: #292b2c;
}
#location{
    color: grey;
}
.icon{
    width: 50px;
    height: 50px;
}
#university{
}
.image-border{
    padding-top: 10px;
}
.projects{
    margin-top: 550px;
}
.image-3{
    width: 20px;
}