[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.2.28"
django-crispy-forms = "==1.7.2"
gunicorn = "*"
whitenoise = "==3.3.1"
psycopg2-binary = "*"
django-allauth = "*"
pillow = "*"
djangorestframework = "*"
djoser = "*"

[requires]
python_version = "3.7"
