absl-py==0.7.1
asn1crypto==0.24.0
astor==0.8.0
bcrypt==3.1.7
cached-property==1.5.1
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
cryptography==2.7
cycler==0.10.0
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2
django-allauth==0.22.0
django-crispy-forms==1.7.2
djangorestframework==3.9.4
docker==3.7.3
docker-compose==1.24.1
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
easydict==1.9
gast==0.2.2
google-api-core==1.14.0
google-auth==1.6.3
google-cloud-vision==0.38.0
googleapis-common-protos==1.6.0
grpcio==1.22.0
gunicorn==19.9.0
h5py==2.9.0
idna==2.7
imageai==2.0.2
jsonschema==2.6.0
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
Markdown==3.1.1
matplotlib==3.1.1
numpy==1.17.0
oauthlib==3.0.2
opencv-python==4.1.0.25
paramiko==2.6.0
Pillow==9.3.0
pipenv==2018.11.26
protobuf==3.9.0
psycopg2==2.8.3
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycparser==2.19
PyNaCl==1.3.0
pyparsing==2.4.1.1
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2019.1
PyYAML==3.13
requests==2.20.1
requests-oauthlib==1.2.0
rsa==4.0
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
texttable==0.9.1
urllib3==1.24.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
websocket-client==0.56.0
Werkzeug==0.15.5
whitenoise==4.1.3
