{% extends 'base.html' %}

{% block content %}

    <div class="article-entry">
    <h2>{{ object.first_name }}</h2>
    <p>by {{ object.last_name }} | {{ object.locality }}</p> <p>{{ object.region }}</p>
    </div>
    {% comment %} <p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
    <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>  {% endcomment %}

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{% endblock content %}